.font-primaria {
  font-family: var(--font-primaria);
}

.max-container {
  max-width: 1300px;
  margin: 0 auto;
}

.li-menu-lateral {
  padding: 8px 16px;
  background-color: var(--color-p12);
  color: #f7f7f7;
  display: grid;
  grid-template-columns: 20px auto;
  align-items: start;
  font-size: 12px;
  gap: 8px;
}

textarea {
  height: 50vh;
  width: 100vw;
  background-color: var(--color-p12);
}
