.menu-lateral {
  position: relative;
  background-color: var(--color-p09);
}

.li-tables::before {
  content: url("../imgs/tablesIcon.svg");
}

.li-tables {
  border-bottom: 1px solid var(--color-p08);
}

.li-tables-item {
  padding-left: 22px;
  color: var(--color-p05);
}

.li-tables-item::before {
  content: url("../imgs/subIcon.svg");
}

.icone-config {
  position: absolute;
  right: 20px;
  bottom: 110px;
  cursor: pointer;
}

.grid-main {
  display: grid;
  grid-template-columns: 200px auto;
}

.terminal {
  border-left: 1px solid var(--color-p08);
  background-color: var(--color-p09);
  height: 40vh;
}

.btn-run {
  margin-right: 24px;
  margin-bottom: 20px;
  place-self: end;
  position: absolute;
}

.btn-run button {
  padding: 12px 32px;
  border-radius: 8px;
  background-color: var(--color-s08);
  text-transform: uppercase;
}

.li-data-item {
  padding-top: 0px;
}

.li-data-item li::before {
  content: "";
  width: 4px;
  height: 4px;
  display: block;
  background-color: var(--color-p05);
  padding: 0.02;
  border-radius: 4px;
}

.li-data-item li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 2px 0px 0px 22px;
  color: var(--color-p05);
}

.li-data-item::before {
  content: none;
}

[data-li-append] {
  margin-left: 10px;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 4px;
}

[data-li-append] li::before {
  content: "";
  background-color: var(--color-p05);
}
