@import url("./css/reset.css");
@import url("./css/cores.css");
@import url("./css/tipografia.css");
@import url("./css/global.css");
@import url("./css/header.css");
@import url("./css/menuLateral.css");
@import url("./css/editoCodigo/codigo.css");
